/*Title style*/
.title-section h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/*Header style making everything in one row*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

/*Posts container style*/
.posts-container {
  display: flex;
  flex-direction: column; /*Posts are one after another*/
  gap: 15px; /*spaces between posts*/
}

.post-card {
  background-color: #1a1a1a;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}
/* Search Bar Style*/
.search-input:focus{
  outline: none;
  border-color: #0079d3; /*Blue reddit color*/
}

/*Login Button Style*/
.login-btn {
  background-color: #0079d3; /*Blue reddit color*/
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

/*button hover effect*/
.login-btn:hover {
  background-color: #1484d6;
}

/*Simple Logo Style*/

.logo {
  font-weight: bold;
  font-size: 18px;
  color: #ff4500; /*Red reddit color*/
}