/*Title style*/
.title-section h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/*Header style making everything in one row*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

/*Posts container style*/
.posts-container {
  display: flex;
  flex-direction: column; /*Posts are one after another*/
  gap: 15px; /*spaces between posts*/
}

.post-card {
  background-color: #1a1a1a;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}